In [1]:
import pandas as pd
import numpy as np

In [2]:
level_1 = pd.read_csv("../Level_1.csv")
print(len(level_1))

30

In [3]:
level_2 = pd.read_csv("../Level_2.csv")
print(len(level_2))

20

In [4]:
level_3 = pd.read_csv("../Level_3.csv")
print(len(level_3))

47

# Intersection

In [5]:
relations_df = pd.read_csv("../../Oracles/DataFrames/Level_1_to_Level_3.csv").set_index("id")
relations_df.head(1)

,141.txt,149.txt,134.txt,152.txt,154.txt,136.txt,124.txt,118.txt,147.txt,153.txt,...,130.txt,128.txt,148.txt,120.txt,158.txt,127.txt,122.txt,132.txt,114.txt,155.txt
id,,,,,,,,,,,,,,,,,,,,,
2.txt,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0

### Level 1 to Level 2

In [6]:
r_2_d = pd.read_csv("../../Oracles/DataFrames/Level_1_to_Level_2.csv").set_index("id")
r_2_d.head(1)

,41.txt,46.txt,48.txt,33.txt,50.txt,39.txt,37.txt,47.txt,45.txt,42.txt,35.txt,36.txt,40.txt,34.txt,44.txt,43.txt,49.txt,31.txt,38.txt,32.txt
id,,,,,,,,,,,,,,,,,,,,
2.txt,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

### Level 2 to Level 3

In [7]:
d_2_c = pd.read_csv("../../Oracles/DataFrames/Level_2_to_Level_3.csv").set_index("id")
d_2_c.head(1)

,141.txt,149.txt,154.txt,152.txt,151.txt,134.txt,136.txt,124.txt,118.txt,147.txt,...,117.txt,145.txt,123.txt,148.txt,120.txt,158.txt,122.txt,132.txt,114.txt,155.txt
id,,,,,,,,,,,,,,,,,,,,,
41.txt,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0

In [8]:
r_intersection = set(r_2_d.index) & set(relations_df.index) & set(level_1["id"])
d_intersection = set(r_2_d.columns) & set(d_2_c.index) & set(level_2["id"])
c_intersection = set(d_2_c.columns) & set(level_3["id"]) & set(relations_df.columns)

In [9]:
print("Number Requirements: ", len(r_intersection))
print("Number Designs: ", len(d_intersection))
print("Number Classes: ", len(c_intersection))

Number Requirements:  30
Number Designs:  20
Number Classes:  28

# Filter

In [10]:
relations_df = relations_df.loc[r_intersection][c_intersection]
r_2_d = r_2_d.loc[r_intersection][d_intersection]
d_2_c = d_2_c.loc[d_intersection][c_intersection]

In [11]:
level_1 = level_1.set_index("id").loc[r_intersection].reset_index()
level_2 = level_2.set_index("id").loc[d_intersection].reset_index()
level_3 = level_3.set_index("id").loc[c_intersection].reset_index()

In [12]:
assert relations_df.shape == (len(r_intersection), len(c_intersection))
assert r_2_d.shape == (len(r_intersection), len(d_intersection))
assert d_2_c.shape == (len(d_intersection), len(c_intersection))
assert len(level_1) == len(r_intersection)
assert len(level_2) == len(d_intersection)
assert len(level_3) == len(c_intersection)

# Export

In [13]:
r_2_d.sum().sum()

130.0

In [14]:
len(level_1) * len(level_2)

600

In [15]:
level_1.to_csv("../Level_1.csv")
level_2.to_csv("../Level_2.csv")
level_3.to_csv("../Level_3.csv")
np.save("../../Oracles/TracedMatrices/Level_1_to_Level_2.npy", r_2_d.values)
np.save("../../Oracles/TracedMatrices/Level_2_to_Level_3.npy", d_2_c.values)
relations_df.to_csv("../../Oracles/Relations.csv")
print("Done!")

Done!

In [16]:
a = r_2_d.values
b = d_2_c.values
similarity_matrix = np.dot(a, b)

In [17]:
similarity_matrix.shape

(30, 28)

In [18]:
scores = np.apply_along_axis(max, 1, similarity_matrix)
print("Scores:", len(scores))
scores

Scores: 30

array([4., 7., 2., 5., 4., 4., 3., 4., 2., 2., 3., 5., 5., 7., 7., 5., 4.,
       4., 4., 5., 3., 5., 3., 4., 7., 3., 7., 3., 5., 4.])

In [19]:
len(level_1)

30