In [1]:
import pandas as pd
import numpy as np
import os
import sys

In [2]:
sys.path.append("../../../../Tracer/src")
from PreProcessing.Traces.TraceCreator import create_trace_matrix_from_trace_list

def create_trace_list(path_to_oracle):
    oracle = open(path_to_oracle).read().split("\n")
    trace_list = []
    for trace_item in oracle:
        if len(trace_item) > 0:
            source, targets = trace_item.split(":")
            for target in targets.split(" "):
                if len(target) != 0:
                    trace_list.append(" ".join([source, target]))
                else:
                    trace_list.append(" ".join([source, ""]))
    return create_trace_matrix_from_trace_list(trace_list)

# 1 -> 2

In [3]:
path_to_oracle = "../Originals/TracedMatrices/UC_ID.txt"
level_1_to_level_2 = create_trace_list(path_to_oracle)
print("shape: ", level_1_to_level_2.shape)
level_1_to_level_2.head(1)

shape:  (30, 20)

,34.txt,49.txt,44.txt,39.txt,46.txt,42.txt,36.txt,35.txt,32.txt,50.txt,47.txt,43.txt,48.txt,38.txt,31.txt,33.txt,41.txt,45.txt,40.txt,37.txt
id,,,,,,,,,,,,,,,,,,,,
6.txt,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
level_1_to_level_2.columns

Index(['34.txt', '49.txt', '44.txt', '39.txt', '46.txt', '42.txt', '36.txt',
       '35.txt', '32.txt', '50.txt', '47.txt', '43.txt', '48.txt', '38.txt',
       '31.txt', '33.txt', '41.txt', '45.txt', '40.txt', '37.txt'],
      dtype='object')

# 2 -> 3

In [5]:
path_to_oracle = "../Originals/TracedMatrices/ID_CC.txt"
level_2_to_level_3 = create_trace_list(path_to_oracle)
print("shape: ", level_2_to_level_3.shape)
level_2_to_level_3.head(1)

shape:  (20, 30)

,150.txt,118.txt,114.txt,138.txt,146.txt,120.txt,132.txt,153.txt,156.txt,151.txt,...,148.txt,123.txt,152.txt,124.txt,155.txt,140.txt,122.txt,159.txt,119.txt,136.txt
id,,,,,,,,,,,,,,,,,,,,,
34.txt,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

# 1 -> 3

In [6]:
path_to_oracle = "../Originals/TracedMatrices/UC_CC.txt"
level_1_to_level_3 = create_trace_list(path_to_oracle)
print("shape: ", level_1_to_level_3.shape)
level_1_to_level_3.head(1)

shape:  (30, 35)

,150.txt,118.txt,114.txt,138.txt,146.txt,120.txt,132.txt,153.txt,156.txt,145.txt,...,152.txt,128.txt,144.txt,129.txt,124.txt,155.txt,140.txt,122.txt,159.txt,136.txt
id,,,,,,,,,,,,,,,,,,,,,
6.txt,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

# Export

In [7]:
level_1_to_level_2.to_csv("../../Oracles/DataFrames/Level_1_to_Level_2.csv")
level_2_to_level_3.to_csv("../../Oracles/DataFrames/Level_2_to_Level_3.csv")
level_1_to_level_3.to_csv("../../Oracles/DataFrames/Level_1_to_Level_3.csv")
level_1_to_level_3.to_csv("../../Oracles/Relations.csv")
print("Done!")

Done!